on fs
    start vendor.cryptfshw-1-0

service vendor.cryptfshw-1-0 /vendor/bin/vendor.qti.hardware.cryptfshw@1.0-service-qti
    interface vendor.qti.hardware.cryptfshw@1.0::ICryptfsHw default
    user root
    group root
    disabled
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0
